<?xml version="1.0" encoding="utf-8"?>
<!--
  SBHS-Timetable-Android: Countdown and timetable all at once (Android app).
  Copyright (C) 2014 Simon Shields, James Ye

  This file is part of SBHS-Timetable-Android.

  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with this program.  If not, see <http://www.gnu.org/licenses/>.
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.sbhstimetable.sbhs_timetable_android">

	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

	<application android:allowBackup="true"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<!-- Activities -->
		<activity android:name=".TimetableActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".LoginActivity"
			android:label="@string/title_activity_login"
			android:parentActivityName="com.sbhstimetable.sbhs_timetable_android.TimetableActivity"
			android:theme="@style/AppTheme">
		</activity>

		<activity android:name=".SettingsActivity"
			android:label="@string/title_activity_settings"
			android:parentActivityName="com.sbhstimetable.sbhs_timetable_android.TimetableActivity"
			android:theme="@style/AppTheme">
		</activity>

		<activity android:name=".ClassInfoActivity"
			android:label="@string/title_activity_class_info"
			android:parentActivityName="com.sbhstimetable.sbhs_timetable_android.TimetableActivity"
			android:theme="@style/AppTheme">
		</activity>

		<activity android:name=".debug.DebugActivity"
			android:label="@string/title_activity_debug"
			android:theme="@style/AppTheme">
		</activity>

		<!-- Services -->
		<service android:name=".backend.service.DashclockService"
			android:icon="@mipmap/ic_launcher"
			android:label="@string/app_name"
			android:permission="com.google.android.apps.dashclock.permission.READ_EXTENSION_DATA">
			<intent-filter>
				<action android:name="com.google.android.apps.dashclock.Extension" />
			</intent-filter>

			<meta-data android:name="protocolVersion"
				android:value="2" />
			<meta-data android:name="worldReadable"
				android:value="true" />
			<meta-data android:name="description"
				android:value="@string/dashclock_desc" />
		</service>

		<service android:name=".backend.service.NotificationService"
			android:exported="false" />

		<service android:name=".backend.service.TodayWidgetService"
			android:permission="android.permission.BIND_REMOTEVIEWS" />

		<!-- Broadcast Receivers -->

		<receiver android:name=".backend.service.TimetableAppWidget"
			android:label="SBHS Timetable - Countdown" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/timetable_app_widget_info" />
		</receiver>

		<receiver android:name=".backend.service.BootFinishedReceiver" >
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED" />
			</intent-filter>
		</receiver>

		<receiver android:name=".backend.service.TodayAppWidget"
			android:label="SBHS Timetable - Today" >
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
				<action android:name="com.sbhstimetable.action.TODAY_UPDATE" />
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
				android:resource="@xml/today_app_widget_info" />
		</receiver>
	</application>
</manifest>
